<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="<%= locals.baseURL %>/admin/cp" class="site_title"><i class="fa fa-link"></i> <span>API-Gateway</span></a>
    </div>
    <div class="clearfix"></div>
    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="<%= locals.baseURL %>/admin/cp">Dashboard</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-clock-o"></i> Cache <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="<%= locals.baseURL %>/admin/cp/cache">Eliminar Cache</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-envelope"></i> Notificaciones <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="<%= locals.baseURL %>/admin/cp/notifications">Ver Campañas</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu_section">
        <h3>Administraci&oacute;n</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-users"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="<%= locals.baseURL %>/admin/cp/users/create">Alta</a></li>
              <li><a href="<%= locals.baseURL %>/admin/cp/users">Edici&oacute;n</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-cogs"></i> Roles <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="<%= locals.baseURL %>/admin/cp/roles/create">Alta</a></li>
              <li><a href="<%= locals.baseURL %>/admin/cp/roles">Edici&oacute;n</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-cogs"></i> Permisos <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="<%= locals.baseURL %>/admin/cp/permissions">Edici&oacute;n</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->
  </div>
</div>

<!-- top navigation -->
<div class="top_nav">
  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= locals.sessionUser.name %> <%= locals.sessionUser.surname %>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a href="<%= locals.baseURL %>/admin/cp/users/<%= locals.sessionUser._id %>/edit"> Profile</a></li>
            <li><a href="<%= locals.baseURL %>/admin/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- /top navigation -->